body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, white, black);
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: deepskyblue;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.form-section {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 95%;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

.logo {
    width: 55px;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 10px;}
footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    position: relative;
}
